body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 300px;
  width: 80vw;
}

.container > img {
  margin-right: 10px;
}

.container > .right > .ending-time {
  letter-spacing: 3px;
}

.container > .right > .timer {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.container > .right > .timer > .timer-format {
  background-color: black;
  color: white;
  margin: 10px;
  width: 9%;
  text-align: center;
  padding: 5px;
  font-weight: 300;
}